html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: LightCyan;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

h4 {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 0.5rem;
}

.mobile {
  display: none;
}

p.author {
  font-size: 0.8rem;
}

/* Navigation section */

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 952px;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: White;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  heigth: 2rem;
}

.logo span {
  font-family: serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: Gray
}

.logo em {
  font-weight: bold;
  color: Black;
}

nav ul {
  display: flex;
}

nav li {
   padding-left: 1rem;
 }

nav li a {
  text-decoration: none;
  color: Black;
}

/* Main part */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 4rem;
}

.z {
  width: 1000px;
  display: flex;
  background-color: Gray;
}

.a {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
}

.b {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.c {
  display: flex;
  }

.c img {
  padding: 1rem;
}

.d {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.e {
  background-color: Gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5rem;
}
/* Banner section */

#banner .b {
  justify-content: center;
}

#banner h3 {
  margin-bottom: 1.5rem;
}

#banner p {
  width: 300px;
  text-align: center;
  padding: 0.5rem 0rem;
  border-radius: 2px;
  background-color: Black;
  color: White;
}

/* Information section */

#info .a img {
  margin-bottom: 2rem;
}

#info .b {
  margin-top: 1rem;
}

/* Course section */

#course.z {
  flex-direction: column;
  align-items: center;
  background-color: LightGray;
}

#course .c {
  width: 264px;
  flex-direction: column;
  padding: 0;
  background-color: LightGray;
  margin: 0rem 1rem 2rem 1rem;
}

#course img {
  padding: 0;
}

#course .t {
  height: 100%;
  justify-content: flex-start;
  padding: 1rem;
}

/* Thesis section */

#thesis.z {
  flex-direction: column;
  align-items: center;
  background-color: LightGray;
}

#thesis .e {
  flex-wrap: nowrap;
}

#thesis .a {
  padding-top: 0;
}

video {
  margin-bottom: 2rem;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  width: 952px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: White;
  border-top: 1px solid LightGray;
}

.copy p {
  margin: 0;
}
@media only screen and (max-width:620px) {

/* Header section */
  .header {
    width: 100%;
  }

  .logo {
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }

  nav {
    display: none;
  }

  h2 {
    margin-bottom: 1rem;
  }

/* Banner section */
  .z {
    width: 100%;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
    padding: 0;
  }

  .a img {
    width: 100%;
    height: auto;
  }

  .b {
    width: 100%;
  }

  #banner .t {
    width: 95%;
    padding: 2rem 1rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  #banner p {
    width: 70%;
  }

  /* Information section */

  #info.z {
    background-color: LightGray;
  }

  #info .a {
    display: none;
  }

  #info .b {
    margin: 0;
  }

  .c {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 4rem;
    padding: 0;
  }

  img.mobile {
    max-width: 100%;
    padding: 0;
  }

  #info .t {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    padding-left: 2rem;
  }

  /* Course section */

  #course.z {
    padding-bottom: 2rem;
  }

  #course .c {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  #course .d {
    margin: 0;
  }

   #course .t {
     width: 100%;
     text-align: left;
     padding: 0;
   }

  #course img,
  #course h4,
  #course p {
    display: none;
  }

   #course h3 {
     padding: 1rem;
     padding-bottom: 2rem;
   }

   /* Thesis section */

   #thesis .t,
   #thesis .b {
     display: none;
   }

   video {
     width: 100%;
     margin-bottom: 1.5rem;
   }



}
